
.wholeBox{
    padding: 10px;
}


.inputBox{
display: flex;
margin-left:5px;
width:100%;
flex-direction: row;
padding: 10px;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 18px;
z-index: 3;   
}

.innerInput{
flex: 1 0 0;
margin: 0;
padding: 0;
background-color: transparent;
border: none;
outline: none;
font-size: 12px;
}


.deleteButton{
    cursor: pointer;
}


.dropDownBox{
display: block;
margin-left:12px;
width:80%;
padding: 8px 0;
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.3);
border-top: none;
border-radius: 0 0 16px 16px;
list-style-type: none;
position: absolute;
}



/* 즐겨찾기 영역 */

.itemWrap{
display: flex;
align-items: center;
width:350px;
overflow-x:scroll;

white-space: nowrap;

}
.itemWrap::-webkit-scrollbar{
    display: none; 
}

.favoriteItem{
margin-top: 5px;
display :inline-block;
background: #EFEFEF;
border-radius: 20px;
font-size: 15px;
padding: 5px;
margin-left: 10px;
}

.addFavoriteInput{
text-align: center;
padding: 10px;
}

.addButton{
background: #26DFA6;
color: white;
border: none;
border-radius: 20px;
padding: 10px;
width: 80%;
}